@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    font-family:  'Poppins',sans-serif;
    font-style: normal;
 }

 textarea::-webkit-scrollbar {
  width: 5px;
 
}


textarea::-webkit-scrollbar-thumb {
 
background-color: white;
outline: 1px solid #F1A166;
border-radius: 10px;
}
}